<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/bootstrap.min.css"  />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        <script src="../js/opener.js" ></script>
        <title> Магазин конфет </title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row"> 
                <div class="col-xs-12">
                    <nav class="navbar navbar-default"> <!-- Верхняя панелька<-->
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuButton" aria-expanded="false">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" th:href="@{'/packs'}">Магазин конфет</a>
                            </div>
                            <div class="navbar-collapse" id="menuButton">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{'/packs'}">Главная</a></li>
                                    <li class="active"><a th:href="@{${current.id != null} ? '/packs/' + ${current.id} : '/packs/0'}">Еще конфет!</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="jumbotron">
                        <div align="center">
                            <h2> Добавьте вашу любимую пачку конфет! </h2>
                        </div>
                        <form class="form-horizontal">                            
                            <!--поле для спрятанного айдишника -->
                            <input class="hidden" id="pack_id" th:value="@{${current.id != null} ? ${current.id} : 0}" />
                            
                            <div class="form-group">
                                <label for="inputBarcode" class="col-xs-2 control-label">Штрих-код</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control" id="barcode" th:value="${current.barcode}" placeholder="Штрих-код" />
                                </div>
                            </div>
                            <fieldset>
                                <div class="form-group">
                                    <label for="chooseName" class="col-xs-2 control-label">Выберите название конфеты</label>
                                    <div class="col-xs-10">
                                        <div class="btn-group "> 
                                            <select class="form-control" id="sweet_select">
                                                <option th:each="sweet: ${sweets}" 
                                                        th:value="${sweet.id}" 
                                                        th:text="${sweet.name}" 
                                                        th:selected="${current.id != null and current.sweet.id == sweet.id} ? ${current.id}"></option>   
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <div id="shell" disabled="" class="form-group col-xs-offset-5">
                                </div>
                                <div id="filling" disabled="" class="form-group col-xs-offset-5">
                                </div>
                                <div id="description" disabled="" class="form-group col-xs-offset-5">
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="number" class="col-xs-2 control-label">Количество конфет в 1 пачке</label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control" id="number" th:value="${current.number}" placeholder="Количество" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="price" class="col-xs-2 control-label">Цена упаковки</label>
                                <div class="col-xs-4">
                                    <input  class="form-control" id="price" th:value="${current.price}" placeholder="Цена" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="packing_date" class="col-xs-2 control-label">Дата производства</label>
                                <div class="col-xs-4">
                                    <input type="date" class="form-control" id="packing_date" th:value="${current.packingDate}" 
                                           placeholder="Запишите данные в формате гггг-мм-дд(2008-08-08)"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expire_date" class="col-xs-2 control-label">Срок годности</label>
                                <div class="col-xs-4">
                                    <input type="date" class="form-control" id="expire_date" th:value="${current.expireDate}" 
                                           placeholder="Запишите данные в формате гггг-мм-дд(2008-08-08)"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-2 col-xs-10">
                                    <button id="button_save" class="btn btn-default">Добавить пачку конфет!</button>                                    
                                </div>
                            </div>
                            <div id="answer">                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>